{% block content %}

<p class="footer-text mb-2">Made with love</p>
<div class="upbutton">
  <button id="shootUp" class="btn btn-secondary">^</button>
  <button id="change-bg" onclick="toggleMode()" class="btn btn-secondary">Change background</button>
</div>

{% endblock %}

<script>
  let upButton = document.getElementById("shootUp");
  upButton.addEventListener("click", () => {
    window.scrollTo({
      top: 0,
      left: 0,
      behavior: "smooth",
    });
  });

// change background color
function toggleMode(){
  let mode = document.body;
  mode.classList.toggle('dark-mode');
}


</script>
