{% extends 'course/base.html' %}

{% block content %}
<div class="container" style="width:30%;margin-bottom:10rem;margin-top:15rem">
  <form action="" method="post">
    {% csrf_token %}
    <input type="text" name="username" minlength="2" maxlength="30" placeholder="type username..." required class="form-control mb-1 ">
    <input type="password" name="password" minlength="4" maxlength="30" placeholder="type password.." required class="form-control mb-1">
    <input type="submit" value="Login" class="btn btn-outline-primary ">

  </form>
</div>
{% endblock%}